<div class="content-wrapper">

  <section class="content-header">
    <div class="col-md-10 offset-md-1">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Shopping List</h1>
        </div>
        <div class="col-sm-6 d-flex flex-row justify-content-end ">
          <div class="nav-item text-right" routerLinkActive="active">
            <a routerLink="/shop" class="nav-link" role="button">
              <i class="fa fa-list"></i>
            </a>
          </div>


          <div class="breadcrumb mt-1">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Shopping List</li>
          </div>
        </div>

      </div>
    </div>
    <!-- /.container-fluid -->
  </section>


  <!-- Main content -->
  <section class="content">
    <div class="col-md-10 offset-md-1">
      <div class="row">
        <div class="col-12">
          <div class="card">



          </div>

          <!-- search -->
          <div class="menu-customer">
            <div class="row">
              <div class="col-lg-4">
                <!-- select -->
                <div class="form-group">

                  <select class="form-control" placeholder="ยี่ห้อ">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4">
                <!-- select -->
                <div class="form-group">

                  <select class="form-control">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4">
                <!-- select -->
                <div class="form-group">

                  <select class="form-control">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4">
                <!-- select -->
                <div class="form-group">

                  <select class="form-control">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4">
                <!-- select -->
                <div class="form-group">

                  <select class="form-control">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4">
                <!-- select -->
                <div class="form-group">

                  <select class="form-control">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card -->

          <div class="card">
            <div class="card-header">
              <h3 class="card-title">DataTable with default features</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">

              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Brand</th>
                    <th>ItemName</th>
                    <th>Barcode</th>
                    <th>BarcodeNew</th>
                    <th>Model</th>
                    <th>Price</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let part of partList">
                    <td>{{part.Brand}}</td>
                    <td>{{part.ItemName}}</td>
                    <td>{{part.Barcode}}</td>
                    <td>{{part.BarcodeNew}}</td>
                    <td>{{part.Model}}</td>
                    <td>{{part.Price}}</td>
                    <td><button type="button" (click)="onSelect(part)"
                        class="btn btn-outline-primary btn-block toastrDefaultSuccess"><i
                          class="fas fa-cart-plus"></i><b>
                          เพิ่มตะกร้า</b></button></td>
                  </tr>

                </tbody>
                <!-- <tfoot>
                  <tr>
                    <th>Brand</th>
                    <th>ItemName</th>
                    <th>Barcode</th>
                    <th>BarcodeNew</th>
                    <th>Model</th>
                    <th>Price</th>
                  </tr>
                </tfoot> -->
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
