<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->


      <li class="nav-header"></li>

      <li class="nav-header">ADMINISTRATOR</li>
      <li class="nav-item">
        <a routerLink="/settings" routerLinkActive="active" class="nav-link">
          <i class="nav-icon fas fa-cog"></i>
          <p>Settings</p>
        </a>
      </li>


    </ul>
  </nav>

