<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Delivery add Page</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Delivery add Page</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Sale Orders</h3>
  
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
  
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-search"></i>
              </button>
  
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="form-group">
                    <!-- <label for="doc_id">เลขที่เอกสาร</label> -->
                    <input type="email" class="form-control" id="doc_id" placeholder="เลขที่เอกสาร">
                  </div>
                </div>
  
                <div class="form-group">
                  <div class="form-group">
                    <!-- <label for="doc_id">วันที่ออกเอกสาร</label> -->
                    <input type="email" class="form-control" id="doc_id" placeholder="วันที่ออกเอกสาร">
                  </div>
                </div>
  
                <div class="form-group">
                  <div class="form-group">
                    <!-- <label for="customer_id">รหัสลูกค้า</label> -->
                    <input type="email" class="form-control" id="customer_id" placeholder="รหัสลูกค้า">
                  </div>
                </div>
  
  
              </div>
              <!-- /.col -->
              <div class="col-md-6">
  
                <div class="form-group">
                  <div class="form-group">
                    <!-- <label for="doc_id">รหัสลูกค้า</label> -->
                    <input type="email" class="form-control" id="doc_id" placeholder="รหัสลูกค้า">
                  </div>
                </div>
  
                <div class="form-group">
                  <div class="form-group">
                    <!-- <label for="doc_id">ชื่อลูกค้า</label> -->
                    <input type="email" class="form-control" id="doc_id" placeholder="ชื่อลูกค้า">
                  </div>
                </div>
  
  
                <div class="form-group">
                  <div class="form-group">
                    <!-- <label for="doc_id">กลุ่มลูกค้า</label> -->
                    <input type="email" class="form-control" id="doc_id" placeholder="กลุ่มลูกค้า">
                  </div>
                </div>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
  
            <!-- <h5>Custom Color Variants</h5> -->
            <div class="row">
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>ที่อยู่ออกบิล</label>
                  <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger"
                    style="width: 100%;">
                    <option selected="selected">Alabama</option>
                    <option>Alaska</option>
                    <option>California</option>
                    <option>Delaware</option>
                    <option>Tennessee</option>
                    <option>Texas</option>
                    <option>Washington</option>
                  </select>
                </div>
                <!-- /.form-group -->
                <a name="" id="" class="btn btn-primary" href="#" role="button">เพิ่ม</a>
              </div>
              <!-- /.col -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>ที่อยู่จัดส่ง</label>
                  <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger"
                    style="width: 100%;">
                    <option selected="selected">Alabama</option>
                    <option>Alaska</option>
                    <option>California</option>
                    <option>Delaware</option>
                    <option>Tennessee</option>
                    <option>Texas</option>
                    <option>Washington</option>
                  </select>
                </div>
                <!-- /.form-group -->
                <a name="" id="" class="btn btn-primary" href="#" role="button">เพิ่ม</a>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <a name="" id="" class="btn btn-danger" href="#" role="button">บันทึก</a>
            <a name="" id="" class="btn btn-success" href="#" role="button">แสดงรายการ</a>
            <a name="" id="" class="btn btn-secondary" href="#" role="button">ล้าง</a>
  
          </div>
          <!-- /.card -->
  
        </div>
      </div>
    </section>
  
  
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Sale Item รายการขาย</h1>
          </div>
   
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
  
  
        <table class="table table-head-fixed table-bordered table-hover ">
          <thead>
            <tr>
              <th>#</th>
              <th>หมายเลขอะไหล่</th>
              <th>รายการอะไหล่</th>
              <th>ราคาตั้ง</th>
              <th>จำนวน</th>
              <th>ยอดเงิน</th>
              <th>ส่วนลด</th>
              <th>ยอดเงินหลังส่วนลดปกติ</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">1</td>
              <td>ADC-19314544</td>
              <td>ไส้กรองเชื้อเพลิง(40ลูก/1กล่อง)</td>
              <td>180</td>
              <td>10</td>
              <td>1800.00</td>
              <td>20%</td>
              <td>1440.00</td>
              <td></td>
            </tr>
            <tr>
              <td scope="row">2</td>
              <td>ADC-19314544</td>
              <td>ไส้กรองเชื้อเพลิง(40ลูก/1กล่อง)</td>
              <td>180</td>
              <td>10</td>
              <td>1800.00</td>
              <td>20%</td>
              <td>1440.00</td>
              <td></td>
            </tr>
            <tr>
              <td scope="row">2</td>
              <td>ADC-19314544</td>
              <td>ไส้กรองเชื้อเพลิง(40ลูก/1กล่อง)</td>
              <td>180</td>
              <td>10</td>
              <td>1800.00</td>
              <td>20%</td>
              <td>1440.00</td>
              <td></td>
            </tr>
            <tr>
              <td scope="row">2</td>
              <td>ADC-19314544</td>
              <td>ไส้กรองเชื้อเพลิง(40ลูก/1กล่อง)</td>
              <td>180</td>
              <td>10</td>
              <td>1800.00</td>
              <td>20%</td>
              <td>1440.00</td>
              <td><i class="fa fa-trash" aria-hidden="true"></i></td>
            </tr>
          </tbody>
        </table>
  
  
        <div>
          <a name="" id="" class="btn btn-primary" href="#" role="button">แก้ไขส่วนลดตามเงื่อนไขลูกค้า</a>
          <a name="" id="" class="btn btn-success" href="#" role="button">แก้ไขส่วนลดที่่บิล</a>
        </div>
  
  
  
      </div>
    </section>
  
  
  
  </div>
  
