        <!-- Shopping Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
  
  
              <li class="nav-header">ONLINE SHOPPING</li>
              <li class="nav-item" routerLinkActive="active">
                <a routerLink="/shop" class="nav-link">
                  <i class="nav-icon fa fa-shopping-cart aria-hidden='true' "></i>
                  <p>
                    Shopping
                    <span class="badge badge-info right">2</span>
                  </p>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a routerLink="/payment" class="nav-link">
                  <i class="nav-icon fa fa-credit-card aria-hidden='true'"></i>
                  <p>Payment</p>
                </a>
              </li>
  
            </ul>
          </nav>
          <!-- /.sidebar-menu -->
